##### Exercise 2: Create markdown cell with title of the notebook

##### Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

##### Exercise 3 - Create a markdown cell for an introduction

##### Write an introductory sentence about the notebook such as the follows:

### In this notebook, You will become familliar with some popular Data Science tools and Ecosystems.

##### Exercise 4 - Create a markdown cell to list data science languages

##### Start the cell with an overview line such as:

##### Some of the popular languages that Data Scientists use are:
##### Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

##### 3 commonly used languages in Data Science are:
1. Python
2. R language
3. Sql

##### Exercise 5 - Create a markdown cell to list data science libraries
##### 3 commonly used Libraries in Data Science include: 
1. Pandas
2. Matplotlib
3. NumPy

##### Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|-----------------|
|  Jupyter Notebook  | 
|  RStudio  |
|  Apache Hadoop  |

##### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below you will find a few evaluations of arithmetic expressions in Python:

In [8]:
(24 * 4)/5

19.2

In [9]:
(3*12)-3

33

In [10]:
(12/53)+4

4.226415094339623

##### Exercise 8 - Create a code cell to multiply and add numbers

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

##### Exercise 9 - Create a code cell to convert minutes to hours

In [12]:
# this cell will convert 200 minutes into hours as an example.
(200/60)

3.3333333333333335

##### Exercise 10 - Insert a markdown cell to list Objectives

#### We will be covering many topics in this notebook that are essential to our progress in becoming Data Scientists.
**Objectives:**
- List popular languages used in Data Science
- List popular libraries used in Data Science
- List popular tools used in Data Science
- Create Tables in Jupyter Notebook

##### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 
Sahand Pouya Bahar